nav{
    padding: 30px;
    background-color: blueviolet;
    
}
.link1{
    margin-left: 10px;
    color: aliceblue;
    text-decoration: none;
}
nav a{
    margin-left: 100px;
    color: aliceblue;
    text-decoration: none;
}
nav a:hover{
    color: brown;
}